/* Main layout */
.container {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 190px 1fr;
    grid-template-rows: 80px 1fr 50px;
}

aside {
    /* column config */
    grid-column-start: 1;
    grid-column-end: 2;

    /* row config */
    grid-row-start: 2;
    grid-row-end: 3;
}

header {
    /* column config */
    grid-column-start: 1;
    grid-column-end: 3;

    /* row config */
    grid-row-start: 1;
    grid-row-end: 2;
}

section {
    /* column config */
    grid-column-start: 2;
    grid-column-end: 3;
}

footer {
    /* column config */
    grid-column-start: 1;
    grid-column-end: 3;

    /* row config */
    grid-row-start: 3;
    grid-row-end: 4;
}

/* Aside divisions */

.nav_mobile {
    background-color: aquamarine;
    display: none;
    height: 100%;
}

.nav_desktop {
    background-color: royalblue;
    height: 100%;
}

li {
    padding: 20px 2px 20px 5px;
}

/* Header divisions */

header {
    display: grid;
    grid-template-columns: 190px 1fr;
}

.header_left {
    background-color: pink;
}

.header_right {
}

/* Section divisions */

section {
    display: grid;
}

.section_container {
    width: 100%;
    height: 100%;
}

/* media query */

@media (max-width: 780px) {

    /* container update */
    .container {
        grid-template-columns: 60px 1fr;
    }

    /* aside update */
    aside {
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .nav_desktop {
        display: none;
    }

    .nav_mobile {
        display: block;
    }
}