* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F6F6F6;
}

a {
  color: inherit;
  text-decoration: none;
}

.page_container {
  width: 100vw;
  height: 100vh;
}

ul,
ol,
li {
  list-style: none;
}

a{
  display: flex;
}