.main {
    width: 100vw;
    height: 100vh;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px){
    .modal{
        grid-template-columns: 1fr;
    }
}

/* animations */
@keyframes fade_out {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.fade_out {
    animation: fade_out 1s ease-in-out;
}