.main {
    width: 100vw;
    height: 100vh;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-gap: 10px;
    min-width: 350px;
    max-width: 550px;
    height: 250px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 15px;
    background-color: #fff;
}

@media (max-width: 800px){
    .modal{
        grid-template-columns: 1fr;
    }
}

/* animations */
@keyframes fade_out {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.fade_out {
    animation: fade_out 1s ease-in-out;
}